:root {
  --background-default: #050814;
  --background-paper: #0a0e1a;
  --background-paper-light: #141a2b;

  --text-primary: #ffffff;
  --text-secondary: #40485e;

  --color-primary: #003ad5;

  --color-disabled: #616161;
  --color-hit: #a5a5a5;

  --color-board-bg: #d1deff;
  --color-board-stroke: #92afb8;

  --color-ship-1-stroke: #e78238;
  --color-ship-1-bg: #713a12;

  --color-ship-2-stroke: #a538e7;
  --color-ship-2-bg: #531271;

  --color-ship-3-stroke: #38bde7;
  --color-ship-3-bg: #125571;

  --color-ship-4-stroke: #afe738;
  --color-ship-4-bg: #537112;

  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3.2rem;
  --font-size-xxxl: 4.8rem;

  --line-height-sm: 1.6rem;
  --line-height-md: 2rem;
  --line-height-lg: 3.2rem;
  --line-height-xl: 5.2rem;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
}

$tokens: (
  colors: (
    primary: (
      500: #003ad5,
    ),
    background: (
      default: #050814,
      paper: #040710,
      paper-light: #141a2b,
    ),
    text: (
      primary: #ffffff,
      secondary: #40485e,
    ),
  ),
  spacing: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
  ),
  fontFamily: "Inter",
  fontFamilyMono: Roboto Mono,
  fontSizes: (
    sm: 1rem,
    md: 1.3rem,
    lg: 1.6rem,
    xl: 1.8rem,
    xxl: 2.8rem,
    xxxl: 4.2rem,
  ),
  fontWeights: (
    regular: 400,
    semibold: 600,
    extrabold: 800,
  ),
  letterSpacings: (
    default: 0,
    sm: 0.02rem,
    md: 0.04rem,
  ),
  lineHeights: (
    default: 1rem,
    sm: 1.2rem,
    md: 2rem,
    lg: 2.4rem,
    xl: 3.6rem,
    xxl: 4.8rem,
  ),
);
